/* banner styles */

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
}

.banner {
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.banner-img{
    margin-bottom: 20px;
    height: 240px;
}

.banner-title {                     
    font-size: 48px;
    color: #0D1321;
    font-weight: bolder;
    line-height: 68px;
    width: 998px;
    text-align: center;
    margin-bottom: 24px;
}
.discription{
    font-size: 16px;
    }
.banner-btn{
    border-radius: 8px;
    padding: 21px 24px;
    margin-top: 10px;
    align-items: center;
    background-color: #1C0D21;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
/* web development section  */

.web-development-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 97px;
    max-width: 1140px;
    border-radius: 16px;
    background-color: #fbfbff;
    margin-left: 500px;
    margin-top: 60px;
}
.web-title{
    font-size: 32px;
    font-weight: 800;
}
.web-development-section .discription{
    margin-bottom: 48px;
}
.web-parent{
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 16px;
    padding: 48px 48px ;
   
    
}
.web-parent .child-title{
    width: 400px;
}
.web-parent .learn-btn{
    padding: 12px 20px;
}
.web-parent img{
    height: 240px;
    
}

