/* banner styles */

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner {
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.banner-img {
    margin-bottom: 20px;
    height: 240px;
}

.banner-title {
    font-size: 48px;
    color: #0D1321;
    font-weight: bolder;
    line-height: 68px;
    width: 998px;
    text-align: center;
    margin-bottom: 24px;
}

.discription {
    font-size: 16px;
    text-align: center;
    line-height: 26px;
}

.banner-btn {
    border-radius: 8px;
    padding: 21px 24px;
    margin-top: 10px;
    align-items: center;
    background-color: #1C0D21;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

/* web development section  */

.web-development-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 97px;
    border-radius: 16px;
    background-color: rgb(13, 19, 33, 1.5%);
    margin-top: 60px;
}

.web-title {
    font-size: 32px;
    font-weight: 800;
}

.web-development-section {
    margin-bottom: 48px;
}

.web-parent {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 16px;
    padding: 48px 48px;


}

.web-parent .child-title {
    width: 400px;
    color: rgb(13, 19, 33, 70%)
}

.learn-btn {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33, 70%);
    background-color: #fff;


}

.web-parent img {
    height: 240px;

}

/* inspiration section */
.my-inspiration-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;

}

.my-ins-title {
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.YT-video {

    background-color: rgb(13, 19, 33, 1.5%);
    border-radius: 16px;
    gap: 10px;
    border: 1px solid rgb(13, 19, 33, 10%);
    display: flex;
    justify-content: center;

}



/* target section */
.target-title {
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 150px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;

}

.card {
    width: 364px;
    padding: 40px 40px;
    border-radius: 16px;
}

.card h2 {
    font-weight: 800;
    font-size: 24px;
}

.card p {
    line-height: 26px;
}

.card a {
    font-size: 16px;
    font-weight: 700;
}